/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

//Imports
@import 'partials/colors';
@import 'partials/navbar';
@import 'partials/dropdowns';
@import 'partials/sections';
@import 'partials/hero';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/cards';
@import 'partials/forms';
@import 'partials/animations';
@import 'partials/sidebar';
@import 'partials/testimonials';
@import 'partials/responsive';
@import 'partials/utils';


/* dark mode 😎*/
/* body {
    background-color: $light-blue-grey;
}

#section1{
    background-color: $blue-grey;
}

#section3{
    background-color: $blue-grey;
}

#section5{
    background-color: $blue-grey;
} */