{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
{{- $moreClients := index $section4 "moreclients" }}
{{- $orientorClients := index $section4 "orientorClients" }}
{{- $url := index $section4 "url" }}

<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>
    
    
    <div class="content-wrapper">
      
    <div style=" padding-left: 90%;" >
      <svg height="30" width="200">
    <a href="https://www.youtube.com/watch?v=W31e9meX9S4">  
        <text x="0" y="15" fill="black" transform="rotate(20 20,40)">Click Us!</text>
    </a>
      </svg> 
    </div> 
    <!-- TODO: get these 2 divs closer -->
    <div style="padding-left: 83%;">
    <a href="https://www.youtube.com/watch?v=W31e9meX9S4">  
      <img src="/images/illustrations/icons/curved-arrow.svg" />      
    </a>
    </div>
    
      <div class="columns is-vcentered is-centered">
        {{- range $orientorClients }}
        <div class="column is-3">
          <figure class="testimonial">
            <div class="author">
              <a href= "{{ .url }}">
              <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
              </a>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
      <div class="columns is-vcentered is-centered">
        {{- range $clients }}
        <div class="column is-3">
          <figure class="testimonial">
            <div class="author">
              <a href= "{{ .url }}">
              <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
              </a>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
      <div class="columns is-vcentered is-centered">
      {{- range $moreClients }}
      <div class="column is-3">
        <figure class="testimonial">
          <div class="author">
            <a href= "{{ .url }}">
            <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
            <h5>{{ .name }}</h5>
            <span>{{ .job }}</span>
            </a>
          </div>
        </figure>
      </div>
      {{- end }}
    </div>
  </div>
</section>